@using projeto_financeiro_mvc.DTOs
@model ContaDTO
@{
    ViewData["Title"] = "Cadastrar Conta";
}

<h1 class="d-flex justify-content-center text-primary fw-bold mt-2" id="titulo">@ViewData["Title"]</h1>

<div class="container d-flex justify-content-center">
    <div class="card d-flex align-items-center justify-content-center border border-2 border-primary rounded rounded-3 bg-opacity-25 w-50 p-2" id="divConta">
        <form method="post" asp-controller="Conta" asp-action="Cadastrar">
            <div class="row g-2 align-items-center p-1">
                <div class="col-auto">
                    <label for="Banco" class="col-form-label fs-4 text-primary labels">Banco:</label>
                </div>
                <div class="col-auto form-control">
                    <input type="text" asp-for="Banco" class="border-1 w-100 fs-5" placeholder="Digite o nome do banco" id="banco">
                </div>
            </div>
            <div class="row g-2 align-items-center p-1">
                <div class="col-auto">
                    <label for="Agencia" class="col-form-label fs-5 text-primary labels">Agência:</label>
                </div>
                <div class="col-auto form-control">
                    <input type="number" asp-for="Agencia" class="rounded border-1 w-25 fs-5" id="agencia">
                </div>
            </div>
            <div class="row g-2 align-items-center p-1">
                <div class="col-auto">
                    <label for="NumeroConta" class="col-form-label fs-5 text-primary labels">Nº Conta:</label>
                </div>
                <div class="col-auto form-control">
                    <input type="number" asp-for="NumeroConta" class="rounded border-1 w-50 fs-5" id="numeroConta">
                </div>
            </div>
            <div class="row g-2 align-items-center p-1">
                <div class="col-auto">
                    <label asp-for="SaldoInicial" class="col-form-label fs-5 text-primary labels">Saldo Inicial:</label>
                </div>
                <div class="col-auto form-control">
                    <input type="text" asp-for="SaldoInicial" class="rounded border-1 w-50 fs-5" id="saldoInicial">
                </div>
            </div>
            <div class="d-flex justify-content-between align-items-center w-100 p-2 mt-4">
                <button class="btn btn-success rounded rounded-3">Confirmar</button>
                <a class="btn btn-danger rounded rounded-3" asp-controller="Conta" asp-action="ListarContas">Cancelar</a>
            </div>
        </form>            
    </div>
</div>


