@model ContaModel
@{
    ViewData["Title"] = "Excluir Conta";
}

<h1 class="d-flex justify-content-center text-primary fw-bold mt-2">@ViewData["Title"]</h1>

<div class="container d-flex justify-content-center">
    <div class="card d-flex align-items-center justify-content-center border border-2 border-danger rounded rounded-3 bg-opacity-25 w-50 p-2">
        <span class="text-danger fs-4">Deseja realmente excluir esta conta?</span>
        <form method="post" asp-controller="Conta" asp-action="Excluir">
            <input type="hidden" asp-for="Id">

            <div class="row g-2 align-items-center p-1">
                <div class="col-auto">
                    <label for="Banco" class="col-form-label fs-4 text-primary">Banco:</label>
                </div>
                <div class="col-auto form-control">
                    <input type="text" asp-for="Banco" class="border-1 w-100 fs-5 text-white" disabled>
                </div>
            </div>
            <div class="row g-2 align-items-center p-1">
                <div class="col-auto">
                    <label for="Agencia" class="col-form-label fs-5 text-primary">Agência:</label>
                </div>
                <div class="col-auto form-control">
                    <input type="number" asp-for="Agencia" class="rounded border-1 w-25 fs-5 text-white" disabled>
                </div>
            </div>
            <div class="row g-2 align-items-center p-1">
                <div class="col-auto">
                    <label for="NumeroConta" class="col-form-label fs-5 text-primary">Nº Conta:</label>
                </div>
                <div class="col-auto form-control">
                    <input type="number" asp-for="NumeroConta" class="rounded border-1 w-50 fs-5 text-white" disabled>
                </div>
            </div>
            <div class="row g-2 align-items-center p-1">
                <div class="col-auto">
                    <label asp-for="Saldo" class="col-form-label fs-5 text-primary">Saldo Inicial:</label>
                </div>
                <div class="col-auto form-control">
                    <input type="number" asp-for="Saldo" class="rounded border-1 w-50 fs-5 text-white" disabled>
                </div>
            </div>
            <div class="d-flex justify-content-between align-items-center w-100 p-2 mt-4">
                <button class="btn btn-danger rounded rounded-3">Confirmar</button>
                <a class="btn btn-primary rounded rounded-3" asp-controller="Conta" asp-action="ListarContas">Cancelar</a>
            </div>
        </form>            
    </div>
</div>