<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Controle Financeiro</title>
    <script>
        const theme = localStorage.getItem("theme") || "Vapor";
        document.write(
            `<link rel="stylesheet" href="/css/${theme.toLowerCase()}.css">`
        );

    </script>
    @* <link id="theme_layout" rel="stylesheet" href="~/css/bootstrap.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/projeto_financeiro_mvc.styles.css" asp-append-version="true" />
    @* <script>
        (function () {
            const theme = localStorage.getItem("theme") || "Vapor";
            const link = document.getElementById("theme_layout");
            
            if (link){
                link.href = `/css/${theme.toLowerCase()}.css`;
            }
        })();
    </script> *@
</head>
<body>
    <div class="col bg-light-subtle d-flex flex-column" style="min-height: 100vh">
        @RenderBody()
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {

            const imgLogin = document.getElementById("img-login");

            if (!imgLogin) {
                console.log("img-login não encontrada");
                return;
            }

            const theme = localStorage.getItem("theme") || "Vapor";
            console.log("Theme:", theme);

            if (theme === "Brite") {
                imgLogin.src = "/img/brite/img-login_brite.png";
            }
            else if (theme === "Cerulean") {
                imgLogin.src = "/img/cerulean/img-login_cerulean.png";
            }
            else if (theme === "Cosmo") {
                imgLogin.src = "/img/cosmo/img-login_cosmo.png";
            }
            else if (theme === "Cyborg") {
                imgLogin.src = "/img/cyborg/img-login_cyborg.png";
            }
            else if (theme === "Darkly") {
                imgLogin.src = "/img/darkly/img-login_darkly.png";
            }
            else if (theme === "Sketchy") {
                imgLogin.src = "/img/sketchy/img_login_sketchy.png";
            }
            else
            {
                imgLogin.src = "/img/img-login.jpg";
            }
        });
    </script>
</body>
</html>
<div id="spinnerCarregando" class="d-none position-fixed top-0 start-0 w-100 h-100 bg-dark bg-opacity-50 d-flex justify-content-center align-items-center" style="z-index: 2000;">
    <div class="d-flex flex-column align-items-center justify-content-center bg-white rounded-4 p-4" id="boxSpinner">
        <div class="loading-wave">
            <div class="loading-bar"></div>
            <div class="loading-bar"></div>
            <div class="loading-bar"></div>
            <div class="loading-bar"></div>
        </div>
        <p class="text-primary text-center mt-2">Carregando...</p>
    </div>
</div>
<script>
    const form = document.querySelector('form');
    const spinner = document.getElementById('spinnerCarregando');

    form.addEventListener("submit", (e) => {
        spinner.classList.remove("d-none");

        e.preventDefault();

        setTimeout(() => {
            form.submit();
        }, 800); 
    });
</script>