html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

li.list-group-item a:hover {
    background-color: blueviolet !important;
    color: white !important;
    cursor: pointer;
}

li.list-group-item a:hover {
    color: white;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.table-transf {
    background-color: rgb(192, 192, 12) !important;
    color: #000 !important;
}

/* Spinner */
.loading-wave {
  width: 300px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.loading-bar {
  width: 20px;
  height: 10px;
  margin: 0 5px;
  background-color: rgb(111, 66, 193);
  border-radius: 5px;
  animation: loading-wave-animation 1s ease-in-out infinite;
}

.loading-bar:nth-child(2) {
  animation-delay: 0.1s;
}

.loading-bar:nth-child(3) {
  animation-delay: 0.2s;
}

.loading-bar:nth-child(4) {
  animation-delay: 0.3s;
}

#metas {
  background-color: rgb(199, 197, 197) !important;
}

@keyframes loading-wave-animation {
  0% {
    height: 10px;
  }

  50% {
    height: 50px;
  }

  100% {
    height: 10px;
  }
}


@media (max-width: 1400px) {
  html {
    font-size: 16px;
  }

  .valor-card {
    margin-top: 6px !important;
  }

  .texto-card {
    font-size: 14px !important;
  }

  .box-lancamentos {
    margin-bottom: 10px;
  }

  #valorFiltro{
    width: 100px;
  }

  /* Layout */

  #boxSpinner {
    transform: scale(0.7);
  }

  .py-2 {
    padding-top: 0.3rem !important;
    padding-bottom: 0.3rem !important;
  }

  .menu {
    font-size: 15px;
  }

  /* Login */

  #formLogin{
    margin-left: 15px;
    margin-right: 15px;
  }
  
  /* Login - Registrar */

  #divRegistrar{
    width: 500px !important;
  }

  /* Lançamentos - Index */

  .valor-font {
    font-size: 14px !important;
  }

  #titulo {
    font-size: 30px;
  }

  .btnLancamento {
    width: 180px !important;
    font-size: 14px;
  }

  h5 {
    font-size: 15px;
  }

  h6 {
    font-size: 13px;
  }

  input[type="date"]{
    width: 90px;
    font-size: 12px;
  }

  #tipo, #categoria, #conta, #valorFiltro{
    width: 90px;
    font-size: 13px;
  }

  #descricaoFiltro {
    font-size: 12px;
  }

  #btnLimpar, #btnFiltrar {
    margin-top: 30px;
    width: 60px;
    height: 20px;
    font-size: 12px;
    text-align: center;
  }

  #formFiltro {
    height: min-content;
  }

  .divBtns {
    display: flex;
    margin: 0px;
    gap: 10px;
  }

  /* Lançamentos - Cadastrar */

  #valorLancamento {
    width: 90px;
    font-size: 18px !important;
  }

  .labels {
    font-size: 16px !important;
  }

  #selectTipo, #selectCategoria, #parcelas {
    font-size: 12px;
  }

  #conta {
    width: 100px;
  }

  /* Lançamentos - Excluir */

  #descricao {
    margin-left: 5px;
    width: 100%;
  }

  /* Recorrente - Cadastrar */

  #valorRecorrente {
    width: 90px;
    font-size: 18px !important;
  }

  /* Transferência - Cadastrar */

  #valorTransferencia {
    width: 90px;
    font-size: 18px !important;
  }

  #contaOrigem, #contaDestino, #dataCompensacao, #dataTransferencia {
    font-size: 13px;
  }

  /* Contas */

  #divConta {
    width: 350px !important;
  }

  #banco, #agencia, #numeroConta, #saldoInicial {
    font-size: 14px !important;
    height: 30px;
  }

  #banco::placeholder {
    font-size: 14px;
    font-style: italic;
  }

  #spanExcluir {
    font-size: 15px !important;
  }

}

@media (min-width: 1500px) {
    body {
        overflow-y: hidden;
    }

    main {
        overflow-y: visible !important;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}