html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

/* li.list-group-item a:hover {
    background-color: blueviolet !important;
    color: white !important;
    cursor: pointer;
}

li.list-group-item a:hover {
    color: white;
} */

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.table-transf {
    background-color: rgb(192, 192, 12) !important;
    color: #000 !important;
}

/* Spinner */
/* .loading-wave {
  width: 300px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.loading-bar {
  width: 20px;
  height: 10px;
  margin: 0 5px;
  background-color: rgb(111, 66, 193);
  border-radius: 5px;
  animation: loading-wave-animation 1s ease-in-out infinite;
}

.loading-bar:nth-child(2) {
  animation-delay: 0.1s;
}

.loading-bar:nth-child(3) {
  animation-delay: 0.2s;
}

.loading-bar:nth-child(4) {
  animation-delay: 0.3s;
} */

#metas {
  background-color: rgb(199, 197, 197) !important;
}

@keyframes loading-wave-animation {
  0% {
    height: 10px;
  }

  50% {
    height: 50px;
  }

  100% {
    height: 10px;
  }
}


@media (max-width: 1400px) {
  html {
    font-size: 16px;
  }

  .valor-card {
    margin-top: 6px !important;
  }

  .texto-card {
    font-size: 14px !important;
  }

  .box-lancamentos {
    margin-bottom: 10px;
  }

  #valorFiltro{
    width: 100px;
  }

  /* Layout */

  #boxSpinner {
    transform: scale(0.7);
  }

  .py-2 {
    padding-top: 0.3rem !important;
    padding-bottom: 0.3rem !important;
  }

  .menu {
    font-size: 15px;
  }

  /* Login */

  #formLogin{
    margin-left: 15px;
    margin-right: 15px;
  }
  
  /* Login - Registrar */

  #divRegistrar{
    width: 500px !important;
  }

  /* Lançamentos - Index */

  .valor-font {
    font-size: 14px !important;
  }

  #titulo {
    font-size: 30px;
  }

  .btnLancamento {
    width: 180px !important;
    font-size: 14px;
  }

  h5 {
    font-size: 15px;
  }

  h6 {
    font-size: 13px;
  }

  input[type="date"]{
    width: 90px;
    font-size: 12px;
  }

  #tipo, #categoria, #conta, #valorFiltro{
    width: 90px;
    font-size: 13px;
  }

  #descricaoFiltro {
    font-size: 12px;
  }

  #btnLimpar, #btnFiltrar {
    margin-top: 30px;
    width: 60px;
    height: 20px;
    font-size: 12px;
    text-align: center;
  }

  #formFiltro {
    height: min-content;
  }

  .divBtns {
    display: flex;
    margin: 0px;
    gap: 10px;
  }

  /* Lançamentos - Cadastrar */

  #valorLancamento {
    width: 90px;
    font-size: 18px !important;
  }

  .labels {
    font-size: 16px !important;
  }

  #selectTipo, #selectCategoria, #parcelas {
    font-size: 12px;
  }

  #conta {
    width: 100px;
  }

  /* Lançamentos - Excluir */

  #descricao {
    margin-left: 5px;
    width: 100%;
  }

  /* Recorrente - Cadastrar */

  #valorRecorrente {
    width: 90px;
    font-size: 18px !important;
  }

  /* Transferência - Cadastrar */

  #valorTransferencia {
    width: 90px;
    font-size: 18px !important;
  }

  #contaOrigem, #contaDestino, #dataCompensacao, #dataTransferencia {
    font-size: 13px;
  }

  /* Contas */

  #divConta {
    width: 350px !important;
  }

  #banco, #agencia, #numeroConta, #saldoInicial {
    font-size: 14px !important;
    height: 30px;
  }

  #banco::placeholder {
    font-size: 14px;
    font-style: italic;
  }

  #spanExcluir {
    font-size: 15px !important;
  }

}

@media (min-width: 1500px) {
    body {
        overflow-y: hidden;
    }

    main {
        overflow-y: visible !important;
    }
}

@media (max-width: 600px){
    main {
        min-height: calc(100vh - 144px) !important;
    }

    /* LOGIN */

    #imagem-login{
        display: none !important;
    }

    .col-3 {
        flex: 1 1 100%;
        max-width: 100%;
    }

    #email, #senha{
        width: 300px;
    }

    #btnEntrar, #btnCadastrar{
        transform: scale(0.9) !important
    }

    /* DASHBOARD */

    #nome-sistema {
        font-size: 20px;
    }

    /* #nome-usuario {
        font-size: 15px;
    } */

    #sair-sistema {
        font-size: 15px;
    }

    .hide {
        display: none !important;
    }

    .fs-3 {
        font-size: 20px !important;
    }

    #nav-menu{
        display: none !important;
    }

    #btn-menu {
        display: block !important;
    }

    #nav-mobile {
        position: fixed;
        top: 60px;
        right: 0;
        z-index: 9999;
        width: 250px;
    }

    .overlay{
        position: fixed;
        top: 60px;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 2;
        transition: opacity 0.3s ease;
    }

    #boxMetas-Vencimentos {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    #boxmetas.container {
        max-width: 90% !important;
        width: 100% !important;
        margin-left: 20px !important;
        margin-right: 0 !important;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #boxVencimentos {
        max-width: 90% !important;
        width: 100% !important;
        margin-left: 20px !important;
        margin-right: 0 !important;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #boxGraficos {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    #boxGraficoCategoria, #boxGraficoBalanco {
        max-width: 90% !important;
        width: 100% !important;
        margin-left: 20px !important;
        margin-right: 0 !important;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    /* LANCAMENTOS */

    .btnLancamento {
        font-size: 0.5rem;
        padding: 0.25rem 0.5rem;
        width: 75px !important;
    }

    .me-4 {
        margin-right: 6px !important;
    }

    .mx-2 {
        margin-left: 0px !important;
    }

    .box-lancamentos {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .labels {
        font-size: 10px !important;
    }

    #tipo, #categoria, #valorFiltro, #conta, #descricaoFiltro {
        font-size: 10px;
        width: 70px;
    }

    .divBtns {
        display: flex;
        flex-direction: column;
        gap: 2;
        align-items: stretch;
    }

    #btnFiltrar, #btnLimpar {
        font-size: 10px;
        width: 50px;
        margin: 0 !important;
    }

    .fs-4 {
        font-size: 12px !important;
    }

    .text-card {
        font-size: 12px !important;
    }

    .valor-font {
        font-size: 10px !important;
    }

    .data-font {
        font-size: 10px !important;
    }

    .me-3 {
        margin-right: 8px !important;
    }

    /* Cadastrar - Lancamento */

    #titulo {
        font-size: 20px !important;
    }

    #valorLancamento {
        width: 70px !important;
        font-size: 14px !important;
        height: 30px !important;
    }

    #parcelas {
        width: 30px !important;
        font-size: 12px !important;
        height: 30px !important;
    }

    #selecTipo {
        width: 30px !important;
        font-size: 10px !important;
    }

    #descricao {
        font-size: 12px !important;
    }

    #conta {
        width: 90px !important;
    }

    #btnConfirmar, #btn-cancelar {
        font-size: 10px;
        width: 50px;
        margin: 0 !important;
    }

    /* Editar - Lançamento */

    #btnsEditar {
        gap: 10px;
    }

    /* Index - Categoria */

    th, td {
        font-size: 10px !important;
    }

    #table-categoria {
        width: 300px !important;
    }

    #btnEditar, #btnExcluir {
        width: 50px !important;
        font-size: 8px !important;
    }

    #btnConfirmarCategoria, #btnCancelarCategoria {
        width: 70px !important;
        font-size: 10px !important;
    }

    /* Index - Listar Contas */

    .w-50 {
        width: 350px !important;
    }

    #formConta {
        width: 100% !important;
    }

    #numeroConta, #saldoInicial {
        width: 100px !important;
    }

    #btnConfirmarConta, #btnCancelarConta {
        width: 70px !important;
        font-size: 10px !important;
    }

    /* Index - Extrato */

    #dataInicial, #dataFinal {
        width: 90px !important;
    }

    #contaExtrato{
        width: 70px !important;
        font-size: 10px !important;
    }
    
    #descricaoExtrato, #descricaoLabel {
        display: none;
    }

    #dataExtrato {
        font-size: 8px !important;
    }

    #containerExtrato {
        min-width: 100% !important;
        margin: 0 !important;
    }

    #valorFiltro {
        width: 40px !important;
    }

    #btnFiltrarExtrato {
        margin: 0  !important;
    }

    #btnLimparExtrato, #btnFiltrarExtrato {
        width: 40px !important;
        font-size: 8px !important;
    }

    #divBtnsExtrato {
        margin: 0 !important;
    }

}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}